/* Item.css */

.item-header {
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  padding: 40px 0;
}

.grid-container-style {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.item-style {
  font-family: 'Inter', sans-serif;
  border: none;
  border-radius: 10px;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 5px 8px rgba(89, 89, 89, 0.2);
  min-height: 300px;
}

.image-style {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 5px;
}

.item-title {
  color: black;
  font-weight: 600;
  font-size: 18px;
}

.item-description {
  max-height: 100px;
  overflow-y: auto;
  margin-top: 20px;
  text-align: left;
  color: black;
  font-weight: 400;
  font-size: 16px;
  height: 100px;
}

.line-style {
  border-top: 1px solid #94d3ba;
  margin: 10px 0;
}

.button-container {
  display: flex;
  justify-content: center;
  height: 30px;
}

.navigation-button {
  padding: 3px 6px;
  margin: 5px;
  border: 1px solid #3b8a6b;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  transition: background-color 0.3s;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  margin: auto;
  border: 2px solid #3b8a6b; /* Set border color */
  border-radius: 10px; /* Set rounded corners */
}

.search-input {
  flex: 1;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  height: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  padding: 5px; /* Adjust padding as needed */
  border-radius: 8px; /* Set rounded corners for the input */
}
/* Additional styles for the 'X' button */
.search-button-clear {
  background-color: #3b8a6b;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: medium;
  font-weight: 600;
  width: 52px;
  height: 52px;
  border-radius: 6px;
  border: none;
}
