/* ItemPage.css */
.page {
  min-height: 622px;
  font-family: 'Inter', sans-serif;
  overflow: auto;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
}

.user-text {
  text-decoration: none;
  font-size: large;
  font-weight: 500;
  color: #1e1e1e;
}

.user-text:hover {
  font-size: large;
  font-weight: 500;
  color: #3b8a6b;
}

.desc {
  padding: 20px;
}

.image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  background-color: white;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.navigation-button {
  padding: 3px 6px;
  margin: 5px;
  border: 1px solid green;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  transition: background-color 0.3s;
}

.back-home {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  background: #3b8a6b;
  border-radius: 3px;
  padding: 13px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.back-home:hover {
  background: #356652;
}
