.user-page {
  height: 622px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.profile-image {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-right: 10px;
}

.contact-card {
  padding: 20px;
  box-shadow:
    0 0 20px 0 rgba(84, 141, 98, 0.2),
    0 5px 5px 0 rgba(125, 182, 115, 0.24);
  margin: 10px;
  border-radius: 15px;
  width: 300px;
}

.box-container {
  display: flex;
  margin-top: 40px;
  text-align: center;
}

.box-with-link {
  flex: 1;
  padding: 20px;
  background-color: #3b8a6b;
  margin-right: 10px;
  border-radius: 5px;
}

.box-with-link:last-child {
  margin-right: 0;
}

.box-with-link a {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color:white;
}
