.user-page {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 85px; /* Adjust the size as needed */
  height: 85px;
  border-radius: 50%;
  margin-right: 10px; /* Adjust the margin to create space between the image and username */
}

.box-with-link {
  margin-top: auto; /* Adjust the margin to create space between the user info and the box */
  padding: 10px;
  background-color: #e0e0e0; /* Adjust the background color as needed */
  border: 1px solid #ccc; /* Adjust the border styles as needed */
}

.box-with-link a {
  text-decoration: none;
  color: #333; /* Adjust the link color as needed */
}
