/* About.css */

.about-style {
  font-family: 'Inter', sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-style h2 {
  color: #333;
}

.about-style p {
  color: #595959;
  line-height: 1.6;
}
